
@{
    ViewBag.Title = "Adriana Cottle";
}

<img src="~/images/130875462_864107804347604_6922539631369146129_n.jpg" />
<p>
    I will be honest, I don't know a lot about ASP.net Core or C# but I'm just exctied to learn another language.
    I've also heard that C# can be used in game development and that is something I've recently taken an interest in.
    So all in all, I'm just excited to learn more and add more skills to my repertoire!
</p>
<br />
<h2>Top 3 Jobs</h2>
<ol>
    <li>Video Game UX/UI Designer</li>
    <li>Something with Machine Learning</li>
    <li>Web Development</li>
</ol>

